:root{
    --green: #96A289;
    --orange: #EAB676;
    --pink: #C29696;
    --gray: #353434;
    --white: #fff;
    --name-font: font-family: 'Source Code Pro', monospace;
    --font: font-family: 'Quicksand', sans-serif;
}
